@media screen and (max-width: 650px) {
  .content {
    position: relative;
    text-align: center;
  }
  .data-box, .weather-box {
    position: static;
    width: 90%;
    margin: 15px auto;
    text-align: center;
    background: rgba(255, 255, 255, 0.8);
  }
  
  .weather-icon {
    display: block;	
  }

  .w-h1 {
    margin-bottom: 10px;
  }

  .w-h1 > h2::after {
    content: "";
  }
  .data-box .weather-box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}